*{
    /* outline: 1px solid red; */
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container{
    width: 340px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    padding: 5px;
}

.screen{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2px;
    font-size: 30px ;
    width: 310px;
    min-height: 70px;
    border: 2px solid grey;
}

button{
    width: 70px;
    height: 70px;
    font-size: 20px;
}

.btn-row{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.btn-row.row-1{
    width: 100%;
}

.btn-row.row-1 > .btn{
    flex: 1;
    max-width: 145px;
}

