@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=VT323&display=swap');
*{
    /* outline: 1px solid red; */
    box-sizing: border-box;
    
}
body{
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calc-container{
    width: 340px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #000000;
}

.screen{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 2px;
    font-size: 30px ;
    width: 310px;
    min-height: 70px;
    border: 2px solid grey;
    border-radius: 5px;
    font-family: 'VT323', monospace;
    font-weight: 400;
    font-size: 3rem;
    overflow: hidden;
    background-color: #797979;
}


button{
    width: 70px;
    height: 70px;
    font-size: 2rem;
    font-family: 'Share Tech Mono', monospace;
    box-shadow: 0 3px 1px #bbb ;
    border-radius: 5px;
    
}

.btn-row{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.btn-row.row-1{
    width: 100%;
}

.btn-row.row-1 > .btn{
    flex: 1;
    max-width: 145px;
    background-color: #EF2938;
}

.btn.operator{
    background-color: #00A79D;
}

.btn-row.row-3 > .btn,
.btn-row.row-4 > .btn,
.btn-row.row-5 > .btn{
    background-color: #606163;
}



